@import './variables';

body{
    background:$color__dark-gray;
    margin:0;
    padding:0;
    font-family:'Montserrat', sans-serif;
}

html,body {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

.grid_container{
    width:100%;
    max-width:1500px;
    margin:0 auto;
    position:relative;
    @media(max-width:1540px){
        padding:0 20px;
    }
}

.title_container{
    display:block;
    clear:both;
    text-align:center;
    margin-top:25px;
    margin-bottom:25px;
    .title{
        display:flex;
        align-items:center;
        justify-content: center;
    }
    img{
        height:100px;
        margin-right:20px;
    }
}

.title{
    font-family:'Montserrat', sans-serif;
    font-size:60px;
    font-weight:200;
    color:white;
    &.title--h4{
        font-size:28px;
        margin:15px 0;
    }
}

div{
    box-sizing:border-box;
}

.list_container{
    display:block;
    width:100%;
    padding:20px 0;
    text-align:center;
}

.block_list{
    display:flex;
    flex-wrap:wrap;
    margin:0;
    padding:0;
    list-style:none;
    li{
        width:25%;
        box-sizing:border-box;
        @media (max-width:1300px){
            width:33.33333%;
        }
        @media(max-width:1000px){
            width:50%;
        }
        @media(max-width:700px){
            width:100%;
        }
    }
    &.block_list--hero{
        &:hover{
            .block_list_li_primary{
                opacity:1;
            }
        }
        .block_list_li_primary{
            text-align:center;
            padding:25px;
            padding-top:100px;
            text-align:left;
            background:white;
            transition:all 0.3s ease-in-out;
            background-size:cover;
            position:relative;
            background-repeat: no-repeat;
            overflow:hidden;
            cursor:pointer;
            color:white;
            z-index:1;
            position:relative;
            .horizontal_bar_list{
                opacity:0;
                transform:translateX(-30px);
                transition:all 0.4s 0.1s ease-in-out;
            }
            .stat-block{
                opacity:0;
                transform:translateX(-30px);
                transition:all 0.4s ease-in-out;                
            }
            .background_image_plugin{
                transition:all 0.4s ease-in-out;
            }
            *{
                position:relative;
            }
            .title{
                color:white;
                margin-bottom:0;
                transform:translateY(50px);
                transition:all 0.4s 0.2s ease-in-out;
            }
            &:hover{
                .background_image_plugin{
                    transform:scale(1.4);
                    filter:brightness(1.6);
                }
                .stat-block{
                    opacity:1;
                    transform:translateX(0);
                    transition:all 0.4s 0.1s ease-in-out;                                        
                }
                .horizontal_bar_list{
                    opacity:1;
                    transform:translateX(0);
                    transition:all 0.4s 0.2s ease-in-out;                    
                }
                .title{
                    transform:translateY(0);
                    transition:all 0.4s ease-in-out;                    
                }
            }
            &:before{
                content:'';
                position:absolute;
                bottom:0;
                left:0;
                width:100%;
                height:70%;
                background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
            }
        }
        .text_icon_button{
            float:right;
            display:block;
            margin-bottom:20px;
        }
    }
}

.stat-block{
    display:inline-block;
    margin:10px 5px;
    position:relative;
    padding:5px 20px;
    border-radius:20px;
    background:$color__primary;
    &:first-of-type{
        margin-left:0;
    }
    &:last-of-type{
        margin-right:0;
    }
    &--agi{
        background:#47724b;
    }
    &--int{
        background:#5178a5;
    }
    &--plain{
        background:#a8a8a8;
        color:black;
    }
}

.cta_btn{
    display:block;
    margin:auto;
    background:$color__primary;
    border:0;
    border-radius:10px;
    padding:10px 30px;
    color:white;
    font-size:16px;
    font-weight:200;
    transition:all 0.2s ease-in-out;
    cursor:pointer;
    outline:0;
    height:auto;
    &:hover{
        background:$color__primary--light;
    }

    &:focus{
        outline:0;
        background:$color__primary;
    }
}

.horizontal_bar_list{
    display:block;
    margin:0;
    padding:0;
    &_li{
        display:inline-block;
        margin-right:5px;
    }
}

.background_image_plugin{
    position:absolute !important;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-size:cover;
    z-index:-1;
    transform:scale(1.05);
}

.overlay_link{
    position:absolute !important;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:100;
}


.text_icon_button{
    background:transparent;
    color:white;
    opacity:0.7;
    transition:opacity 0.2s ease-in-out;
    border:0;
    &:hover{
        opacity:1;
    }
    &:focus{
        background:transparent;
    }
}

.hero_image{
    width:100%;
    height:800px;
    position:absolute;
    top:35px;
    left:0;
    overflow:hidden;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    &:after{
        content:'';
        position:absolute;
        width:100%;
        height:40%;
        background:linear-gradient(0deg, rgba(39, 39, 39, 1) 0%, rgba(39, 39, 39, 0) 100%);
        bottom:0;
    }
}

.basic_link{
    color:white;
}

.hero_image__text_content{
    margin:200px 50px;
    color:white;
}

.loading-element{
    display:flex;
    overflow:hidden;
    padding:15px;
    justify-content:center;
}
.loading-element__spinner {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .loading-element__spinner div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    border: 6px solid #fff;
    border-radius: 100%;
    animation: loading-element__spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .loading-element__spinner div:nth-child(1) {
    animation-delay: -0.40s;
  }
  .loading-element__spinner div:nth-child(2) {
    animation-delay: -0.25s;
  }
  .loading-element__spinner div:nth-child(3) {
    animation-delay: -0.10s;
  }
  @keyframes loading-element__spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .filter-list{
      display:flex;
      justify-content: center;
      align-content: center;
      margin:0 0 30px 0;
      *{
        overflow:hidden;          
      }
      & > *{
          &:first-of-type{
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
          }
          &:last-of-type{
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
      }
  }
  .filter-list__select-filter{
        select{
            padding:10px 25px;
            cursor:pointer;
            transition:all 0.2s ease-in-out;
            text-align:center;
            &:hover{
                background:#f4f4f4;
                padding:10px 40px;
            }
        }
  }


